@media (min-width: 320px) and (max-width:500px) {
    .carritoo{
        height: 3em;
        text-align: end;
        justify-content: end;
    }
    #carritoo{
        text-align: end;
        justify-content: end;
        height: 3em;
        margin-left: 13em;
    }
    .tituloCentrar{
        height: 3em;
    }
    .categoriasAnimales{
        background-color: rebeccapurple
    }
}